a:link {
 color: #579300;
}

a:visited {
 color: #830FA8;
}

a:hover {
	background-color: #90EA0D;
	text-decoration: none;
}

ul {
	width: 570px;
	padding: 15px;
	margin: 0px auto 0px auto;
	text-align: center;
}

nav ul>li {
	display: inline;
	margin: 0px 3px;
	padding: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bolder;
}

.intro{
    max-width: 500px;
    margin: 0 100px 0 100px;
}

.intro img {
    display: block; margin: 0 10px 10px 0;
    float: right;
		width: 25%;
		height: 25%;
}

.intro h3 {
    display: inline;
    font-family: 'Open Sans', sans-serif;
		font-size: 42px;
}

img.center {
	margin: auto;
	display: block;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin-top: 20px;
}

p.resume {
	margin-top: -5px;
}

.maincontent ul>li {
	list-style-type: none;
	text-align: left;
	margin-left: -200px;
}
.popdown {
	display: none;
}

.popdown.active {
	display: block;
}

.col-sm-4 {
	padding
}

.col-sm-2 {
	padding-bottom: 20px;
	padding-top: 20px;
}

.maincontent {
	margin-left: 250px;
}

/* BACKGROUND TRANSITIONS */
/* Fade */
.hvr-fade {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #2098d1;
  color: white;
}
