a:link {
 color: #579300;
}

a:visited {
 color: #830FA8;
}

a:hover {
	background-color: #90EA0D;
	text-decoration: none;
}

ul {
	width: 570px;
	padding: 15px;
	margin: 0px auto 0px auto;
	text-align: center;
}

nav ul>li {
	display: inline;
	margin: 0px 3px;
	padding: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bolder;
}

.intro{
    max-width: 500px;
    margin: 0 100px 0 100px;
}

.intro img {
    display: block; margin: 0 10px 10px 0;
    float: right;
		width: 25%;
		height: 25%;
}

.intro h3 {
    display: inline;
    font-family: 'Open Sans', sans-serif;
		font-size: 42px;
}

img.center {
	margin: auto;
	display: block;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin-top: 20px;
}

.popdown {
	display: none;
}

.popdown.active {
	display: block;
}

.col-sm-4 {
	padding
}

.col-sm-2 {
	padding-bottom: 20px;
	padding-top: 20px;
}

.maincontent {
	margin-left: 200px;
}

#diamond {
    width: 120px;
    height: 120px;
    background: #1eff00;
/* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    margin: 60px 0 10px 310px;
}
